/* General */
* {
  box-sizing: border-box;
}

:root {
  --purpura: #210124;
  --verde-claro: #C2F9BB;
  --verde-ocuro: #003B36;
  --purple-light-1: #FBFAFB;
  --purple-light-2: #EEEAF2;
  --purple-medium-1: #AA83C8;
  --purple-medium-2: #8B48BF;
  --purple-medium-3: #5C218A;
  --purple-dark-1: #3E0F64;
  --purple-dark-2: #2A0646;

  --yellow: #EECC75;
  --green: #CAD297;
  --aqua: #B7EAC5;
  --lightBlue: #A2EEE5;
  --darkBlue: #8EA2EA;
  --red: #F09D9D;

  --font-family-titles: 'Dosis', sans-serif;
  --font-family-text: 'Red Hat Display', sans-serif;
  --font-weight-title1: 800;
  --font-weight-title2: 700;
  --font-weight-text1: 400;
  --font-weight-text2: 500;
}

/* html {
  background-color: var(--verde-claro);
} */

body {
  background-color: black;
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-weight: var(--font-weight-text1);
  font-size: 16px;
  margin: 4px 0 0 0;
  padding: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
  color: white;
  font-family: var(--font-family-titles);
  font-weight: var(--font-weight-title1);
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 18px;
  color: white;
  font-weight: var(--font-weight-title2);
}

h3 {
  color: white;
  font-weight: var(--font-weight-text2);
  font-size: 16px;
}

input {
  background-color: white;
  color: black;
  border: none;
  font-size: 18px;
  padding-left: 16px;
}

input::placeholder {
  color: black;
  font-family: var(--font-family-text);
}

button {
  background-color: var(--verde-ocuro);
  border: none;
  color: var(--purple-light-2);
  /*   font-weight: var(--font-weight-text2); */
  font-size: 14px;
  cursor: pointer;
}


/* Shared */
.header-container,
.trendingPreview-header,
.categoriesPreview-container,
.liked-header {
  padding: 0 24px;
}

.trendingPreview-container,
.categoriesPreview-container,
.liked-container,
footer {
  margin-top: 48px;
}

.trendingPreview-header,
.categoriesPreview-title,
.liked-header {
  margin-bottom: 24px;
}

.movie-container {
  cursor: pointer;
  position: relative;
}

.movie-container--loading {
  background: var(--purple-light-2);
  border-radius: 8px;
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}

.movie-container--loading:nth-child(2) {
  animation-delay: .2s;
}

.movie-container--loading:nth-child(3) {
  animation-delay: .4s;
}

.movie-img {
  min-height: 175px;
}

.movie-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  padding: 0;
  margin: 0;
}

.movie-btn::before {
  content: '⭐';
}

.movie-btn--liked {
  background-color: orange;
  box-shadow: 0px 0px 10px 2px white;
}

.movie-btn--liked::before {
  content: '🌟';
}

.categoriesPreview-list,
.categories-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
}

.category-container--loading {
  background: var(--purple-light-2);
  border-radius: 8px;
  height: 25px;
  min-height: 25px;
  max-height: 25px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  margin-bottom: 15px;
  animation: loading-skeleton infinite 1.5s;
}

.category-container--loading:nth-child(2) {
  animation-delay: .2s;
}


/* Header */
.header-container {
  padding-top: 40px;
}

.header-container--long {
  background-image: url('https: //us.123rf.com/450wm/jpgon/jpgon1708/jpgon170803311/84345163-ilustraci%C3%B3n-de-una-c%C3%A1mara-de-cine-de-larga-sombra-con-una-etiqueta-hash.jpg?ver=6');
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
  background-size: cover !important;
  height: 480px;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-container--categoryView {
  background: linear-gradient(180deg, rgba(238, 204, 117, 0.5) 0%, rgba(238, 204, 117, 0) 72.92%);
}

.header-title {
  margin-bottom: 16px;
}

.header-arrow {
  font-weight: var(--font-weight-text2);
  font-size: 36px;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
}

.header-arrow--white {
  color: var(--purple-light-1);
}

.header-searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
}

.header-searchForm input {
  height: 48px;
  width: 100%;
  /*   border-top-left-radius: 50px;
  border-bottom-left-radius: 50px; */
  border: 3px solid var(--verde-claro);
}

.header-searchForm button {
  width: 56px;
  height: 48px;
  border: 3px solid var(--verde-claro);
  /* border-top-right-radius: 50px;
  border-bottom-right-radius: 50px; */
  background-color: var(--verde-claro);
}


/* Trending */
.trendingPreview-header,
.liked-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.trendingPreview-btn {
  border-radius: 8px;
  height: 32px;
  width: 72px;
}

.trendingPreview-movieList {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  /*   height: 241px; */
  padding: 5px 0;
}

.trendingPreview-movieList {
  scrollbar-width: auto;
  scrollbar-color: #c2f9bb #ffffff;
}

.trendingPreview-movieList::-webkit-scrollbar {
  height: 10px;
}


.trendingPreview-movieList::-webkit-scrollbar-track {
  background: black;
}


.trendingPreview-movieList::-webkit-scrollbar-thumb {
  background-color: var(--verde-claro);
  border-radius: 50px;
  /*   border: 3px solid #ffffff; */
}

/*  */
.liked-movieList {
  text-align: center;
}

/* .movie-container {
  background-color: rgb(0, 0, 0);
} */

/* BARRA SCROLLLLLLLLLLL  */

/* .liked-movieList {
  scrollbar-color: #c2f9bb #ffffff;
}

.liked-movieList::-webkit-scrollbar {
  height: 10px;
}


.liked-movieList::-webkit-scrollbar-track {
  background: black;
}


.liked-movieList::-webkit-scrollbar-thumb {
  background-color: var(--verde-claro);
  border-radius: 50px;
} */

/* BARAASCROLLLLLLLLLLLLL  */

.trendingPreview-movieList .movie-container,
.liked-movieList .movie-container {
  display: inline-block;
  margin: 2.5px 5px;
}

.trendingPreview-movieList .movie-container .movie-img,
.liked-movieList .movie-container .movie-img {
  height: 225px;
  min-height: 225px;
  max-height: 225px;
  width: 150px;
  min-width: 150px;
  max-width: 150px;
}


/* Categories */
.category-container {
  width: 45%;
}

.category-title {
  margin-bottom: 8px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-title::before {
  content: '|';
  color: transparent;
  margin-right: 5px;
  /* TODO: cambiar color por ID de la categoría */
  background-color: var(--idColor);

}

#id28 {
  --idColor: red;
}

#id12 {
  --idColor: purple;
}

#id16 {
  --idColor: green;
}

#id35 {
  --idColor: blue;
}

#id80 {
  --idColor: rgb(5, 5, 73);
}

#id99 {
  --idColor: orange;
}

#id18 {
  --idColor: yellow;
}

#id10751 {
  --idColor: rgb(255, 83, 112);
}

#id14 {
  --idColor: rgb(60, 255, 0);
}

#id36 {
  --idColor: rgb(0, 255, 247);
}

#id27 {
  --idColor: rgb(157, 255, 0);
}

#id10402 {
  --idColor: var(--darkBlue);
}

#id9648 {
  --idColor: rgb(247, 0, 255);
}

#id10749 {
  --idColor: rgb(0, 255, 132);
}

#id878 {
  --idColor: var(--yellow);
}

#id10770 {
  --idColor: var(--red);
}

#id53 {
  --idColor: rgb(85, 44, 19);
}

#id10752 {
  --idColor: rgb(0, 29, 147);
}

#id37 {
  --idColor: rgb(125, 0, 0);
}


/* Generic List (search, trending & category) */
.genericList-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 32px 24px;
}

.genericList-container .movie-container {
  display: inline-block;
  width: 47.5%;
}

.genericList-container .movie-img {
  width: 100%;
}


/* Movie Detail */
.movieDetail-container {
  width: 100%;
  /*  */
  border-top: 4px solid var(--verde-claro);
  /*  */
  /*  border-top-left-radius: 16px;
  border-top-right-radius: 16px; */
  padding: 32px 12px;
  margin-top: 400px;
  z-index: 1;
  position: absolute;
  background-color: black;
}

.movieDetail-title {
  display: inline-block;
  width: 80%;
  margin: 0 0 16px 0;
  padding: 0;
}

.movieDetail-score {
  display: inline-block;
  text-align: right;
  width: 18%;
  font-weight: var(--font-weight-title2);
}

.movieDetail-score::before {
  content: '★';
  color: var(--yellow);
  padding-right: 4px;
}

.movieDetail-description {
  margin: 0 0 24px 0;
}

.relatedMovies-container {
  margin-top: 24px;
  height: 216px;
}

.relatedMovies-title {
  margin-bottom: 16px;
}

.relatedMovies-scrollContainer {
  position: absolute;
  overflow-x: scroll;
  /*  overflow-y: hidden; */
  white-space: nowrap;
  width: calc(100vw - 41px);
  /*  padding-bottom: 16px; */
  /* max-height: 225px; */
  /*  */
  /*   padding: 10px 0; */
}

.relatedMovies-scrollContainer {
  /* scrollbar-width: auto; */
  scrollbar-color: #c2f9bb #ffffff;
}

/* Chrome, Edge, and Safari */

.relatedMovies-scrollContainer::-webkit-scrollbar {
  height: 10px;
}


.relatedMovies-scrollContainer::-webkit-scrollbar-track {
  background: black;
}


.relatedMovies-scrollContainer::-webkit-scrollbar-thumb {
  background-color: var(--verde-claro);
  border-radius: 50px;
  /*   border: 3px solid #ffffff; */
}

/*  */
.relatedMovies-scrollContainer .movie-container {
  display: inline-block;
  margin-right: 8px;
}

.relatedMovies-scrollContainer .movie-container--loading {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}

.relatedMovies-scrollContainer .movie-img {
  width: 125px;
  min-width: 125px;
  max-width: 125px;
  height: 187.5px;
  min-height: 187.5px;
  max-height: 187.5px;
}


/* Footer */
footer {
  background-color: var(--verde-ocuro);
  color: white;
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Navigation */
.inactive {
  display: none;
}


/* Animations */
@keyframes loading-skeleton {

  0%,
  100% {
    opacity: 100%;
  }

  50% {
    opacity: 0%;
  }
}